@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
